.pattern {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #3d3d3d;
    padding: 5px;
    box-shadow: 5px 5px 5px #212421;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* height: 450px; */
}

.pattern-name {
    background-color: rgb(97, 96, 96);
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.pattern-name::placeholder {
    color: white;
    opacity: 0.3;
}

.pattern-config {
    /* max-width: 50%; */
    padding: 10px;
}

.pattern-drawing {
    width: 50%;
    height: 100%;
}

.rail-type, .filling-type, .stand-type, .beam-type, .frame-crossbar-type, .stair-beam-type, .step-type, .stair-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rail-type-label, .filling-type-label, .stand-type-label, .beam-type-label, .frame-crossbar-type-label, .stair-beam-type-label, .step-type-label, .stair-type-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    margin-top: 10px;
    padding-right: 5px;
    white-space: nowrap;
}

.remove-pattern {
    right: 5px;
    background-color: #3d3d3d;
    border: none;
    color: white;
    cursor: pointer;
    margin: 5px;
    /* font-size: 10pt; */
    text-align: center;
}

.remove-pattern:hover {
    background-color: grey;
}

.pattern-drawing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.front-drawing {
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 100%;
    height: 100%;
    min-height: 450px;
    padding: 5px;
}

.section-label {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}

.section-PO, .section-frame {
    margin-bottom: 20px;
}

.remove-area {
    display: flex;
    justify-content: end;
}