.header {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: #212421;
    -webkit-user-select: none;
}

.refers {
    display: flex;
    align-items: center;
    color: #616060;
    font-weight: bold;
}

.cards-ref:hover, .settings-ref:hover, .result-ref:hover, .home-ref:hover {
    color: white;
}

.cards-ref, .settings-ref, .result-ref, .home-ref {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #616060;
}

.logo {
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: large;
    align-items: center;
}

.active {
    color: white;
}