.clue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    max-height: 200px;
    margin: 20px
}

.clue > a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
}

.description {
    color: white;
    text-align: center;
    cursor: default;
}

.screenshot {
    max-width: 100%;
    min-height: 55%;
    max-height: 150px;
}